{% étend  ' base.html.twig ' %}

{% block  title %} ACCUEIL {% endblock %}

{% block  body %}

<!DOCTYPE html>
<html>
    <head>
<meta charset="UTF-8" />
<link rel="stylesheet"   href="a.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   
<style>
  
.button /*boutton connexion */
{
 width: 120px;
 height: 40px;
 font-size: 20px;


}
.border
{
   margin-top: 300px;
   

}
.twosvg
{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(180deg);
}
.onesvg
{
    
    position: absolute;
    bottom: 0;
    right: 0;
}

.threesvg
{
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(270deg);

}
.foursvg{
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
 
}

.container /*ceci est pour le cadre du formulaire */
{
   /* background-color: rgb(238, 220, 196) ;
    border-radius: 50% 20% / 10% 40%;*/
    font-size:large;
    
}
.man:hover{
    background-color: silver;
    
    
    }
    .man img{
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        }
    .man:hover img{
        -webkit-transform: scale(1.3);
        transform: scale(1.3);

        }

.man{
    border-radius: 20px ;
    font-size: x-large;
   border: 3px white solid;
   display: inline-block; /* pour avoir un bloc arrondie qui s'adapte*/
   box-shadow: 5px 5px 5px silver;
   font-size: 1em;
}

#pass{
    width: 300px;
    height: 50px;
}
#login{
    width: 300px;
    height: 50px;
}
</style>
</head>

    <body class="d-flex justify-content-center">
<!--<center><form method="POST" action="formulaire.php" class="border">
    <p>
        <div class="conteneur"  >
        <label for="login">Votre login</label> : 
        <input type="texte" name="peusdo" id="login" placeholder="@mbaye99" maxlength="10" required/>  <br/> <br/>


        <label for="pass">Votre mot de passe :</label>
        <input type="password" name="pass" placeholder="mot de passe" id="pass" required/> <br/> <br/>
       
            <input type="checkbox" class="form-check" >
            <label class="form-check-label" for="exampleCheck1">se souvenir de moi</label> <br /><br />
            <button type="submit" value="connecter" class="a" >connexion</button>
        </div>
    </p>
    </form>
</center>-->
<nav class="laye">
    <a href="inscription.html" class="man"><img src="contact.png" alt="icon_contact" title="Inscription" width="40px" height="40px"/>inscription </a>
  </nav>


<form class="container" style="margin-top: 30vh" method="POST" action="formulaire.php">
    <div class="mb-3">
      <label for="login" class="form-label">Votre login</label>
      <input type="email" class="form-control" style="width: 200px" id="login" placeholder="mbaye@gmail.com" >
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" style="width: 200px" id="exampleInputPassword1" requierd>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">se souvenir de moi</label>
    </div>
    <button type="submit" class="btn btn-primary">connexion</button>
  </form>

    <div class="twosvg">
        <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient x1="50%" y1=".779%" x2="50%" y2="100%" id="a">
              <stop stop-color="#0989B4" stop-opacity="0" offset="0%" />
              <stop stop-color="#53FFEE" offset="99.94%" />
            </linearGradient>
          </defs>
          <ellipse fill="url(#a)" transform="rotate(-135 489 489)" cx="489" cy="489" rx="489" ry="488" fill-rule="evenodd"
            opacity=".5" />
        </svg>
      </div>


      <div class="onesvg">
        <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient x1="50%" y1=".779%" x2="50%" y2="100%" id="a">
              <stop stop-color="#0989B4" stop-opacity="0" offset="0%" />
              <stop stop-color="#53FFEE" offset="99.94%" />
            </linearGradient>
          </defs>
          <ellipse fill="url(#a)" transform="rotate(-135 489 489)" cx="489" cy="489" rx="489" ry="488" fill-rule="evenodd"
            opacity=".5" />
        </svg>
      </div>


      <div class="threesvg">
        <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient x1="50%" y1=".779%" x2="50%" y2="100%" id="a">
              <stop stop-color="#0989B4" stop-opacity="0" offset="0%" />
              <stop stop-color="#53FFEE" offset="99.94%" />
            </linearGradient>
          </defs>
          <ellipse fill="url(#a)" transform="rotate(-135 489 489)" cx="489" cy="489" rx="489" ry="488" fill-rule="evenodd"
            opacity=".5" />
        </svg>
      </div>

      <div class="foursvg">
        <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <linearGradient x1="50%" y1=".779%" x2="50%" y2="100%" id="a">
              <stop stop-color="#0989B4" stop-opacity="0" offset="0%" />
              <stop stop-color="#53FFEE" offset="99.94%" />
            </linearGradient>
          </defs>
          <ellipse fill="url(#a)" transform="rotate(-135 489 489)" cx="489" cy="489" rx="489" ry="488" fill-rule="evenodd"
            opacity=".5" />
        </svg>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>

</html>
